img/.DS_Store
img/angry.jpg
img/drink.jpg
img/food.jpg
img/grandma.jpg
img/happy.jpg
img/home.jpg
img/hurt.jpg
img/outside.jpg
img/sad.jpg
img/scared.jpg
img/school.jpg
img/tired.jpg
_speech-text-reader/.DS_Store
_speech-text-reader/index.html
_speech-text-reader/script.js
_speech-text-reader/style.css
README.md
